/*
 * Globals
 */


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #00cccc;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.siemens-text-color {
  color: #00cccc; 
}


.siemens-bg {
  background-color: #000028; /* Dark blueish color */
  color: #fff; /* Text color for better visibility on dark background */
}


.border-custom {
  color: #00cccc; 
  border-color: #00cccc; 
  background-color: transparent !important; /* Set background to transparent */
}

.border-custom:hover {
  color: #00ffbb; 
  border-color: #00ffbb; 
  background-color: transparent !important; /* Set background to transparent on hover */
}

.border-custom:checked {
  color: #00ffbb; 
  border-color: #00ffbb; 
  background-color: transparent !important;
}

.border-custom:active {
  color: #00ffbb; 
  border-color: #00ffbb; 
  background-color: transparent !important;
}

.custom-table {
  border-collapse: collapse; /* Optional: collapse borders for a cleaner look */
}

.custom-table td {
  padding: 10px; /* Adjust the padding value as needed */
}


/* styling for choice buttons */
input[type="radio"]:checked + .btn.btn-outline-primary {
  background-color: #00ffbb; /* Color when selected */
  border-color: #00ffbb;
  color: #00ffbb; /* Text color when selected */
}

input[type="radio"]:hover + .btn.btn-outline-primary {
  background-color: #00ffbb; /* Color on hover */
  border-color: #00ffbb;
  color: #00ffbb; /* Text color on hover */
}

input[type="radio"] + .btn.btn-outline-primary {
  background-color: #00cccc; /* Default color */
  border-color: #00cccc;
  color: #00cccc; /* Default text color */
}

input[type="radio"]:active + .btn.btn-outline-primary {
  background-color: #00ffbb; /* Color when actively clicked */
  border-color: #00ffbb;
  color: #00ffbb; /* Text color when actively clicked */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.custom-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(0, 204, 204, 0.5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(0, 255, 187, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #00ffbb;
  border-bottom-color: #00ffbb;
}
